.msp-user-setting-container{

}

.msp-user-setting-header{
    margin-bottom: 16px;
}

.msp-user-setting-title{

}

.msp-user-setting-grid {
    background-color: #fff;
}

.msp-user-grid-func {
    height: 60px;
    padding: 0px 16px 0px 12px;
}

.msp-user-grid-table {
    max-height: calc(100vh - 256px);
    height: calc(100vh - 256px);
    max-width: calc(100%);
    width: 100%;
}

.msp-user-paging {
    height: 56px;
    box-sizing: border-box;
    margin: 0px 10px 8px 10px;
    padding: 8px 0px;
    background-color: #f9fafc;
}

.msp-user-paging-content{
    height: 40px;
    box-sizing: border-box;
    padding: 0px 16px;
}

.msp-user-paging-content-left{

}

.msp-user-paging-content-right{

}

.msp-user-paging-arrow-gr {
    width: 70px;
    box-sizing: border-box;
}

.msp-user-paging-arrow-gr > div:hover {
    background-color: #eff1f6!important;
    border-radius: 50%;
}

.msp-user-paging-info {
    margin: 0px 24px;
}

.msp-user-paging-arrow  {
    position: relative;
}

.msp-user-paging-arrow-tooltip {
    position: absolute;
    white-space: nowrap;
    bottom:100%;
    background-color: rgb(78, 78, 78);
    padding: 6px;
    border-radius: 4px;
    color:#fff;
    display: none;
}

.msp-user-paging-arrow-tooltip::after {
    position: absolute;
    content:"";
    border:5px solid transparent;
    border-top-color: rgb(78, 78, 78);
    top:100%;
    left: 50%;
    transform: translateX(-50%);
}

.msp-user-paging-arrow:hover .msp-user-paging-arrow-tooltip{
    display: block;
}

.msp-setting-column-input {
    margin-bottom: 12px;
}

.msp-setting-column-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .324px;
    color: var(--text-primary-color);
    margin: 8px 0px;
}

.msp-user-setting-list-colum {
    max-height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

@keyframes showUserDetail {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

#msp-popup-detail-user {
    position: fixed;
    width: 40%;
    z-index: 5;
    top: 0px;
    right: 0px;
    border-radius: 0px;
    bottom:0px;
    animation: showUserDetail .3s ease-in-out;
}

.msp-icon-setting-column-tooltip {
    position: absolute;
    color:#fff;
    background-color: #3a3a3a !important;
    padding: 8px;
    z-index: 9;
    left: 70%;
    transform: translateX(-70%);
    border-radius: 4px;
    top: 28px;
    display: none;
    animation: showCloseTooltip .3s ease-in-out;
}

.msp-icon-setting-column-tooltip::after{
    content: "";
    position: absolute;
    border:5px solid transparent;
    border-bottom-color: #3a3a3a;
    bottom: 100%;
    left: 70%;
    transform: translateX(-70%);
}

#msp-icon-setting-column:hover ~ .msp-icon-setting-column-tooltip {
    display: block;
}

.msp-user-paging-info {
    min-width: 94px;
}