.msp-popup-error-form{
    display: flex;
    align-items: center;
    padding: 24px 24px 0px;
    margin-bottom: 28px;
}

.msp-popup-error-form-icon{
    background-image: url(../../../../../assets/images/Icon_Process_v3.svg);
    width: 24px;
    height: 24px;
    background-position: -454px -173px;
    background-repeat: no-repeat;
    transform: scale(2);
    margin-right: 20px;
    position: absolute;
    top: 32px;
    left: 32px;
}

.msp-popup-error-form-text{
    padding-left: 60px;
    padding-top: 2px;
    font-size: 16px;
    font-weight: 400;
}

#msp-popup-error {
    z-index: 9999999999 !important;
}

.msp-popup-error {
    width: 400px;
}